[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "/Users/daine46/dotfiles/oh-my-zsh"]
	path = /Users/daine46/dotfiles/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
